<head>
	<title>
		About
	</title>
</head>

<body>
	<h1>About Page</h1>
	<h2>Read all about us here and out motto:</h2>
	<ul style='list-style-type:disc'>
		<li>Music</li>
		<li>Movies</li>
		<li>Television</li>
	</ul>
</body>

<%= link_to 'Home', root_path %>