<head>
	<title>
		Home
	</title>
</head>

<body>
	<h1>Home Page</h1>
	<h2>We Are FARMERS</h2>
	<ul style='list-style-type:disc'>
		<li>Tractors</li>
		<li>Bikes</li>
		<li>Shovels</li>
		<li><%= link_to "Alpha Blog", articles_path %> | <%= link_to "About", about_path %></li>
	</ul>
</body>

<%= link_to 'About', about_path %>